
@{
    ViewBag.Title = "StudentList";
}

<h2>@ViewBag.titleName</h2>
<hr />
@foreach (var item in ViewBag.list)
{
    <h5>@item</h5>
}

<h2>Thông tin sinh viên</h2>
@ViewBag.student;

@Html.Partial("_ViewContact")   