
@{
    ViewBag.Title = "Vũ Anh Dương - Index";
}

<h2>Vũ Anh Dương - Index</h2>
<hr/>
<h3>Hiển thị dữ liệu lấy từ Action trong Controller</h3>
<h4>FullName: @ViewBag.fullName</h4>
<h4>Ngày sinh: @ViewData["Birthday"]</h4>
<h4>Di động: @TempData["Phone"]</h4>

