@{
    ViewBag.Title = "Vũ Anh Dương";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Lesson09 - Vũ Anh Dương</h3>

    <address>
        K22CNT2 - Lập trình ứng dụng web với công nghệ ASP.Net MVC5
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
        <strong>Cá nhân:</strong> <a href="mailto:vuanhduong251020042@gmail.com">vuanhduong251020042@gmail.com</a>
    </address>
</main>