@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
    <pre>
        Mã sinh viên: 2210900017
        Họ tên: Vũ Anh Dương
        Ngày sinh: 25/10/2004
        Điện thoại: 0972471680
        Email: vuanhduong251020042@gmail.com
    </pre>
</main>