@{
    ViewBag.Title = "VADContact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <address>
        <strong>Support:</strong>   <a href="chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
        <strong>Personal:</strong> <a href="vuanhduong251020042@gmail.com">vuanhduong251020042@gmail.com</a>
    </address>
</main>