@{
    ViewBag.Title = "Multiplication Table";
}

<h2>Bảng cửu chương</h2>
<table class="table">
    <tr>
        <th>Số nhân</th>
        @for (int i = 1; i <= 10; i++)
        {
            <th>@i</th>
        }
    </tr>
    @foreach (var item in ViewBag.MultiplicationTable)
    {
        <tr>
            <td>@item.Key</td>
            @foreach (var value in item.Value)
            {
                <td>@value</td>
            }
        </tr>
    }
</table>
